mixin footer()
  footer.main-footer
    section.main-footer__wrapper.container
      .main-footer__box
        .main-footer__image
          a(href="#")
            +img('svg', 'logo', 'svg', '195', '80', 'Логотип')
        .main-footer__address
          a(href="https://yandex.by/maps/157/minsk/house/Zk4Ycw5jQEIEQFtpfXVxcnRlYQ==/?ll=27.596172%2C53.903972&utm_source=main_stripe_big&z=17" target="_blanck")
            +img('svg', 'icon-pin', 'svg', '30', '30', 'Адрес')
            | Минск, пер. Козлова 24А
          p
            +img('svg', 'icon-footer-clock', 'svg', '30', '30', 'Время работы')
            | 9:00 - 20:00 без выходных
        +socials
      .main-footer__nav
        ul.main-footer__list-1
          li: a(href="#") Экспресс-доставка Москва-Минск
          li: a(href="#") Доставка по всей России
          li: a(href="#") Авиадоставка из Москвы
          li: a(href="#") Доставка из IKEA
        ul.main-footer__list-2
          li: a(href="#") Отзывы
          li: a(href="#") Блог
          li: a(href="#") О компании
          li: a(href="#") Контакты
        .main-footer__contacts
          .main-footer__contacts-box
            a(href="tel:+375447585858")
              +img('svg', 'icon-tel', 'svg', '30', '30', 'Телефон')
              | +375 44 758 58 58
            a(href="tel:+375447585858")
              +img('svg', 'icon-tel', 'svg', '30', '30', 'Телефон')
              | +375 44 758 58 58
            a(href="mailto:m_expressinfo@tut.by")
              +img('svg', 'icon-mail', 'svg', '30', '30', 'Почта')
              | M_expressinfo@tut.by
          +messengers
    section.developers
      .developers__wrapper
        a(href="#")
          | Разработка и продвижение
          +img('svg', 'cmbox-logo', 'svg', '93', '33', 'Digital-Агенство CmBox')
