mixin header()
  header.main-header
    nav.main-header__wrapper.container
      .main-header__logo
        a(href="#")
          +img('svg', 'logo', 'svg', '195', '80', 'Логотип')
      .main-header__nav
        ul
          li
            a(href="#").effects Услуги
            ul.main-header__wrap
              li:a(href="#") Экспресс-доставка Москва-Минск-Москва
              li:a(href="#") Доставка по всей России
              li:a(href="#") Авиадоставка из Москвы
              li:a(href="#") Доставка из IKEA
          li
            a(href="#").effects Отзывы
          li
            a(href="#").effects Блог
          li
            a(href="#").effects О компании
          li
            a(href="#").effects Контакты
      .main-header__user
        a(href="tel:+375447585858") +375 44 758 58 58
        a(href="#") Войти
