include ../components/icon-sprite
include ../components/img
include ../components/picture
include ../components/messengers
include ../components/socials
include ../components/service-slider
include ../components/form-order
include ../components/services
include ../components/activity
