extends ../layout/page-layout

block variables
  - var title = "404"

block header
  +header

block main
  main
    section.page-unavailable
      .page-unavailable__wrapper.container
        .page-unavailable__text
          .page-unavailable__text-box
            h2 Упс, этой страницы не существует
            p Страница, на которую вы зашли не зарегистрирована или не существует
            a(href="#")
              +img('svg', 'icon-arrow-left', 'svg', '60', '15', 'На главную')
              | На главную
        .page-unavailable__image
          +img('svg', '404-box', 'svg', '620', '445', '404')

block footer
  +footer
