extends ../layout/page-layout

block variables
  - var title = "Отзывы"

block header
  +header

block main
  main
    - var activePage = 0

    -
      var breadcrumbsList = [
        {
          link: '#',
          text: 'Главная'
        },
        {
          link: '#',
          text: 'Отзывы'
        },
      ];

    section.feedback
      section.breadcrumbs
        .breadcrumbs__wrapper.container
          ul
            each item, index in breadcrumbsList
              if (index === activePage)
                li
                  a(href= item.link)= item.text
              else
                li.breadcrumbs__item-active
                  span= item.text
      .feedback__wrapper.container
        h2 Отзывы клиентов
        ul
          li
            article
              .feedback__box
                +img('svg', 'icon-author', 'svg', '90', '90', 'Автор')
                .feedback__text
                  strong Дривень Сергей Сергеевич
                  p Индивидуальный предприниматель
                  .feedback__info
                    time(datetime="2020.10.21") 21.10.2020г
              p Хочется выразить благодарность всем сотрудникам компании ООО «Королевская Служба Доставки» за доброжелательность, слаженность и оперативность в работе. Благодаря грамотной координации работы.
          li
            article
              .feedback__box
                +img('svg', 'icon-author', 'svg', '90', '90', 'Автор')
                .feedback__text
                  strong Дривень Сергей Сергеевич
                  p Индивидуальный предприниматель
                  .feedback__info
                    time(datetime="2020.10.21") 21.10.2020г
              p Хочется выразить благодарность всем сотрудникам компании ООО «Королевская Служба Доставки» за доброжелательность, слаженность и оперативность в работе. Благодаря грамотной координации работы.
          li
            article
              .feedback__box
                +img('svg', 'icon-author', 'svg', '90', '90', 'Автор')
                .feedback__text
                  strong Дривень Сергей Сергеевич
                  p Индивидуальный предприниматель
                  .feedback__info
                    time(datetime="2020.10.21") 21.10.2020г
              p Хочется выразить благодарность всем сотрудникам компании ООО «Королевская Служба Доставки» за доброжелательность, слаженность и оперативность в работе. Благодаря грамотной координации работы.
          li
            article
              .feedback__box
                +img('svg', 'icon-author', 'svg', '90', '90', 'Автор')
                .feedback__text
                  strong Дривень Сергей Сергеевич
                  p Индивидуальный предприниматель
                  .feedback__info
                    time(datetime="2020.10.21") 21.10.2020г
              p Хочется выразить благодарность всем сотрудникам компании ООО «Королевская Служба Доставки» за доброжелательность, слаженность и оперативность в работе. Благодаря грамотной координации работы.
        a.button.button--effect-2(href="#") Показать ещё
    section.form-order.form-order--feedback
      .form-order__wrapper.container
        .form-order__inner-box
          .form-order__wrap-box
            form.form-order__box
              .form-order__box-1
                h3 Оставить отзыв
                .form-order__points-box
                  .form-order__points
                    .form-order__point-1
                      input(id="user-image" type="file" name="photo")
                      img.user-img(src="assets/img/jpg/author-1.jpg" width="40" height="40")
                      //+img('jpg', 'author-1', 'jpg', '90', '90', 'Автор')
                      label(for="user-image")
                        +img('svg', 'icon-photo', 'svg', '40', '400', 'Прикрепить фото')
                    .form-order__point-2
                      input(id="point-2" type="text")
                      label(for="point-2") Имя/ Компания*
                  .form-group__box
                    .form-order__point-3
                      input(id="user-phone" type="text")
                      label(for="user-phone") Телефон
                    .form-order__point-4
                      input(id="user-email" type="text")
                      label(for="user-email") E-mail*
                    .form-order__textarea
                      textarea(id="user-text")
                      label(for="user-text") Ваш отзыв
                  .form-order__rating
                    p Оцените сервис по 5-балльной шкале:
                  button(type="submit").button.button--effect-2.btn-js Оставить отзыв

block footer
  +footer

  section.modal.modal--feedback
    .modal__wrapper
      .modal__inner
        .modal__image
          +img('svg', 'modal-bckg', 'svg', '590', '440', 'Спасибо за заявку')
        .modal__box
          h2
            span Mexp
            |  благодарит за отзыв!
          p Ваше мнение очень важно для нас.
      a.modal__btn-closed(href="#")
        span.visually-hidden Закрыть модальное окно
