.activity__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include desktop-width {
    background-position: 63% -85px;
  }

  @include desktop-width-min {
    background-image: url("../img/jpg/img-bckg-mobile.jpg");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
  }

  video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include desktop-width-min {
      display: none;
    }
  }
}

.activity__box {
  padding-top: 165px;
  width: 1145px;
  height: 780px;
  background-image: url("../img/svg/image-bckg-tabs.svg");
  background-repeat: no-repeat;
  background-position: bottom;

  @include desktop-width-middle {
    width: 1024px;
    background-position: 105% 100%;
  }

  @include desktop-width-min {
    margin-top: 120px;
    padding-top: 195px;
    height: 600px;
    background-image: url("../img/svg/image-bckg-tabs-mobile.svg");
    background-position: -200px;
  }

  @include tablet-width {
    padding-top: 50px;
    width: auto;
    height: auto;
    margin-top: 25px;
    background-image: none;
    transform: translateX(0);
  }
}

.activity__box-text {
  max-width: 600px;
  margin: 0 auto 0 420px;
  padding-top: 210px;

  @include desktop-width-middle {
    margin-left: 280px;
  }

  @include desktop-width-min {
    margin-left: 70px;
    padding: 0 15px 15px 15px;
  }

  @include tablet-width {
    margin-left: 0;
  }

  p {
    margin: 0;
    padding-bottom: 15px;

    @include tablet-width {
      font-size: 14px;
      line-height: 18px;
    }

    strong {
      font-weight: $normal;
      color: $yellow;
    }

    &:nth-child(1) {
      max-width: 480px;
    }

    &:nth-child(2) {
      max-width: 430px;
      margin-left: 100px;

      @include tablet-width {
        margin-left: 0;
      }
    }

    &:nth-child(3) {
      max-width: 430px;
      margin-left: 200px;

      @include tablet-width {
        margin-left: 0;
      }
    }
  }
}
