.button {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  border: solid 2px $yellow;
  background-color: $yellow;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  position: relative;
  transition: all 0.5s linear;
  overflow: hidden;
  display: block;
  position: relative;

  &--effect-1 {
    margin-top: 30px;

    @include tablet-width {
      max-width: 150px;
      font-size: 16px;
      line-height: 25px;
    }

    span {
      color: $blue;
      position: relative;
      z-index: 1;
      transition: all 0.5s ease;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #33405d;
      height: 0;
      left: 50%;
      top: 50%;
      width: 100%;
      transition: all 0.5s ease 0s;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    &:hover {
      &::after {
        height: 350%;

        @include tablet-width {
          height: 340%;
        }
      }

      span {
        color: $white;
      }
    }
  }

  &--effect-2 {
    margin: 40px 0 40px 15px;
    max-width: 245px;
    border: 2px solid $yellow;
    background-color: transparent;
    padding: 10px 0;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    transition: all 0.3s linear;
    overflow: visible;

    @include tablet-width {
      max-width: 200px;
      font-size: 16px;
      line-height: 16px;
      margin: 20px 0 20px 15px;
    }

    &::before,
    &::after {
      position:absolute;
      content:"";
      width: 30px;
      height: 30px;
      border-style: solid;
      border-color: $yellow;
      transition: all 0.3s linear;

      @include tablet-width {
        width: 25px;
        height: 25px;
      }
    }

    &::before {
      top: -13px;
      left: -13px;
      border-width: 2px 0 0 2px;
    }

    &::after {
      bottom: -13px;
      right: -13px;
      border-width: 0 2px 2px 0;
    }

    &:hover::before,
    &:hover::after {
      width:calc(100% + 24px);
      height:calc(100% + 24px);
      border-color: $yellow;
    }

    &:hover {
      text-decoration: none;
      color: $blue;
      background-color: $yellow;
    }
  }
}

.blue-effect {
  &::after {
    background-color: $blue;
  }
}

.yellow-effect {
  background-color: $blue;

  span {
    color: $white;
  }

  &::after {
    background-color: $yellow;
  }

  &:hover {
    span {
      color: $blue;
    }

    &::after {
      height: 350%;
    }
  }
}
