.main-footer__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 21%);
  margin-bottom: 50px;
}

.main-footer__image {
  max-width: 195px;
}

.main-footer__address {
  a {
    display: grid;
    grid-gap: 0 15px;
    align-items: center;
    grid-template-columns: 30px auto;
  }

  p {
    margin: 0;
    padding-top: 10px;
    display: grid;
    grid-gap: 0 15px;
    align-items: center;
    grid-template-columns: 30px auto;
  }
}
