.page-unavailable {
  .page-unavailable__wrapper {
    max-width: 1300px;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .page-unavailable__text {
    max-width: 740px;
    max-height: 335px;
    width: 100%;
    padding: 100px 30px 60px 30px;
    border: solid 1px transparent;
    border-image: linear-gradient(314deg, #FFB520 63%, #172340 95%);
    border-image-slice: 1;
    position: relative;

    &::before {
      width: 280px;
      height: 130px;
      position: absolute;
      content: "";
      top: -60px;
      left: 0;
      background-image: url("../img/png/404-text.png");
      background-repeat: no-repeat;
    }

    h2 {
      border: 0;
      margin: 0;
      padding-bottom: 0;
    }

    p {
      margin: 0;
      padding: 20px 0;
      font-family: $openSansBold;
    }

    a {
      display: grid;
      grid-template-columns: 40px 120px;
      align-items: center;
      grid-gap: 0 10px;
      color: $yellow;
    }
  }

  .page-unavailable__image {
    margin-top: 90px;
    margin-left: -200px;
    position: relative;
    z-index: 2;

    img {
      max-width: 620px;
    }
  }
}
