.service-slider__wrapper {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 2px #45516E;

  @include tablet-width {
    position: static;
  }
}

.service-slider__controls {
  width: 150px;
  height: 30px;
  position: absolute;
  top: 89%;
  left: 32%;

  @include desktop-width-middle {
    left: 43%;
  }

  @include desktop-width {
    left: 53%;
  }

  @include tablet-width {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-button-next {
    width: 65px;
    height: 15px;
    top: 95%;
    right: 0;
    outline: none;

    &::after {
      width: 100%;
      height: 15px;
      font-size: 0;
      background-image: url("../img/svg/icon-arrow-right.svg");
      background-repeat: no-repeat;
      background-size: 90% 100%;
      transition: all 0.2s linear;
    }

    &:hover {
      &::after {
        background-size: 100% 100%;
        transition: all 0.2s linear;
      }
    }
  }

  .swiper-button-prev {
    width: 65px;
    height: 15px;
    top: 95%;
    left: 0;
    outline: none;

    &::after {
      width: 100%;
      height: 15px;
      background-image: url("../img/svg/icon-arrow-left.svg");
      background-repeat: no-repeat;
      background-size: 90% 100%;
      background-position: right;
      font-size: 0;
      transition: all 0.2s linear;
    }

    &:hover {
      &::after {
        background-size: 100% 100%;
        transition: all 0.2s linear;
      }
    }
  }
}

.service-slider__list {
  @include reset-list;

  .swiper-slide {
    height: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include tablet-width {
      height: auto;
    }

    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-image: url("../img/svg/image-bckg.svg");
      background-repeat: no-repeat;
      z-index: 1;

      @include desktop-width-min {
        background-image: url("../img/svg/image-bckg-mobile.svg");
        background-size: cover;
        background-position: 60% 0%;
      }
    }
  }
}

.service-slider__image {
  position: relative;

  @include desktop-width {
  display: none;
}

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.service-slider__text {
  width: 100%;
  max-width: 570px;
  padding-left: 16%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop-width-middle {
    padding-left: 20%;
  }

  @include desktop-width {
    padding-left: 50px;
    margin: 0 auto;
  }

  @include desktop-width-min {
    padding-left: 20px;
  }

  @include tablet-width {
    max-width: 460px;
    padding: 15px 40px;
  }

  @include mobile-width {
    max-width: 385px;
    padding: 15px;
  }

  ul {
    @include reset-list;
    display: grid;
    grid-gap: 20px 0;
    margin-bottom: 40px;

    @include tablet-width {
      margin-bottom: 35px;
    }

    li {
      display: grid;
      grid-template-columns: 70px auto;
      align-items: center;
      grid-gap: 0 5%;

      @include tablet-width {
        grid-template-columns: 50px auto;
      }
    }

    p {
      padding: 0;
      font-size: 20px;
      line-height: 31px;
      font-family: $openSansRegular;

      @include tablet-width {
        font-size: 14px;
        line-height: 22px;
      }

      strong {
        font-size: 20px;
        line-height: 31px;
        font-family: $openSansBold;
        display: block;

        @include tablet-width {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }

    img {
      max-width: 70px;
    }
  }

  p {
    margin: 0;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 31px;
    font-family: $openSansBold;

    @include tablet-width {
      font-size: 16px;
      line-height: 25px;
    }

    strong {
      font-size: 28px;
      line-height: 44px;
      text-transform: uppercase;
      color: $yellow;

      @include tablet-width {
        font-size: 18px;
        line-height: 28px;
      }

      @include mobile-width {
        display: block;
      }
    }

    &:nth-child(3) {
      font-family: $openSansRegular;

      @include tablet-width {
        font-size: 13px;
        line-height: 18px;
      }
    }

    &:nth-child(4) {
      color: $yellow;

      @include tablet-width {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  h2 {
    margin: 0;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    border-bottom: none;

    @include tablet-width {
      font-size: 22px;
      padding-bottom: 10px;
    }

    img {
      padding-top: 5px;
      max-width: 60px;
    }
  }
}

.swiper-slide-active {
  h2 {
    animation: opacity;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    opacity: 0;
  }

  p {
    &:nth-child(1) {
      animation: opacity;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      opacity: 0;
    }

    &:nth-child(3) {
      animation: opacity;
      animation-duration: 1s;
      animation-delay: 1.5s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      opacity: 0;
    }

    &:nth-child(4) {
      animation: opacity;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      opacity: 0;
    }
  }

  ul {
    li {
      &:nth-child(1) {
        animation: opacity;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        opacity: 0;
      }

      &:nth-child(2) {
        animation: opacity;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        opacity: 0;
      }

      &:nth-child(3) {
        animation: opacity;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        opacity: 0;
      }

      &:nth-child(4) {
        animation: opacity;
        animation-duration: 1s;
        animation-delay: 2.5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        opacity: 0;
      }
    }
  }
}

.service-slider__btn {
  margin: 40px 0 40px 15px;
  max-width: 245px;
  border: 2px solid $yellow;
  padding: 10px 0;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  position:relative;
  transition: all 0.5s;

  @include tablet-width {
    max-width: 200px;
    font-size: 16px;
    line-height: 16px;
    margin: 20px 0 20px 15px;
  }

  &::before,
  &::after {
    position:absolute;
    content:"";
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: $yellow;
    transition: all 0.5s;

    @include tablet-width {
      width: 25px;
      height: 25px;
    }
  }

  &::before {
    top: -13px;
    left: -13px;
    border-width: 2px 0 0 2px;
  }

  &::after {
    bottom: -13px;
    right: -13px;
    border-width: 0 2px 2px 0;
  }

  &:hover::before,
  &:hover::after {
    width:calc(100% + 24px);
    height:calc(100% + 24px);
    border-color: $yellow;
  }

  &:hover {
    text-decoration: none;
    color: $blue;
    background-color: $yellow;
  }
}
