.services {
  background-image: linear-gradient(182.04deg, rgba(33, 44, 73, 0) 82.97%, #253353 108.63%),
    linear-gradient(326.98deg, #172340 -5.06%, #27324F 145.84%);

  @include tablet-width {
    background-image: none;
  }
}

.services__wrapper {
  padding-top: 60px;
  padding-bottom: 120px;

  @include desktop-width-min {
    padding: 30px 30px 90px 30px;
  }

  @include tablet-width {
    padding: 30px 15px;
  }

  ul {
    @include reset-list;
    font-size: 22px;
    line-height: 28px;
    display: grid;
    grid-gap: 30px 0;
    justify-content: space-between;
    grid-template-columns: repeat(4, 23%);

    @include desktop-width-min {
      padding: 0 40px 0 40px;
      grid-template-columns: repeat(auto-fit, minmax(0, 48.4%));
      grid-gap: 20px 20px;
    }

    @include tablet-width {
      padding: 0;
      grid-template-columns: 1fr;
      grid-gap: 20px 0;
    }

    li {
      &:nth-child(1) {
        transition-delay: 0.3s;
      }

      &:nth-child(2) {
        transition-delay: 0.5s;
      }

      &:nth-child(3) {
        transition-delay: 0.7s;
      }

      &:nth-child(4) {
        transition-delay: 0.9s;
      }
    }
  }

  article {
    min-height: 200px;
    display: grid;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(26.36deg, rgba(255, 255, 255, 0.1) -13.58%, rgba(255, 255, 255, 0) 68.46%),
      linear-gradient(270.05deg, #1A2643 -49.45%, rgba(26, 38, 67, 0) 99.93%),
      linear-gradient(278.37deg, rgba(96, 113, 157, 0.1) -10.02%, rgba(59, 73, 110, 0.725913) 51.08%, #2A375A 101.58%);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    transition: all 0.3s linear;

    &::before {
      width: calc(100% - 65px);
      height: 52%;
      position: absolute;
      content: "";
      top: 48px;
      left: 32px;
      transition: all 0.5s linear;
    }
  }

  p {
    margin: 0;
    padding: 0 30px;
    position: relative;
    z-index: 1;
  }

  img {
    max-width: 230px;
    position: absolute;
    top: 0;
    left: 0;
  }

  a {
    display: block;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 40px;
      left: 25px;
      width: 30px;
      height: 30px;
      border-top: solid 2px $yellow;
      border-left: solid 2px $yellow;
      transition: all 0.3s linear;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 40px;
      right: 25px;
      width: 30px;
      height: 30px;
      border-bottom: solid 2px $yellow;
      border-right: solid 2px $yellow;
      transition: all 0.3s linear;
      z-index: 1;
    }

    &:hover {
      &::before,
      &::after {
        width: calc(100% - 50px);
        height: 60%;
        transition: all 0.3s linear;
      }

      article {
        margin-top: -5px;
        transition: all 0.3s linear;

        @include desktop-width-min {
          margin-top: 0;
        }

        &::before {
          transition: all 0.3s linear;
          background-color: rgba(28, 39, 68, 0.6);
        }
      }
    }
  }
}
