.main-footer--contacts {
  margin-top: 0;
  @media(max-width: 767px) {
    background: linear-gradient(283.81deg, #172340 -4.47%, #27324F 96.77%), #172340;

  }
}

.contacts__main {
  background: #212D4A;

  @include tablet-width {
    background: transparent;
  }

  .container {
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      padding: 0 30px;
    }
  }

  .button--effect-2 {
    max-width: 200px;

    &:hover {
      &::before {
        width: calc(100% + 26px);
        height: calc(100% + 26px);
      }

      &::after {
        width: calc(100% + 26px);
        height: calc(100% + 26px);
      }
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;

  @include desktop-width {
    gap: 20px;
  }
  @media (max-width: 766px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .messengers {
    grid-template-columns: repeat(3, 35px);
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 42px;
    color: rgba(255, 193, 48, 0.9);

    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      margin-top: 50px;
    }
  }

  .socials {
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      grid-template-columns: repeat(3, 33px);
      grid-gap: 10px;
    }
  }
}

.contacts__wrap-phone {
  display: flex;
  gap: 5px;
  align-items: center;

  a {
    white-space: nowrap;
    &:hover {
    color: #FFFFFF;
    }

    @include desktop-width-min {
      font-size: 16px;
      line-height: 16px;
    }
  }

  @include desktop-width {
    flex-direction: column;
  }

  @media (max-width: 766px) {
    flex-direction: row;
  }

  @media (max-width: 350px) {
    flex-direction: column;
  }

  span {
    color: $yellow;
    margin-bottom: 2px;

    @media(max-width: 1200px) and (min-width: 767px){
      display: none;
    }
    @media(max-width: 350px){
      display: none;
    }
  }
}

.contacts__item {
  position: relative;
  border: solid 1px transparent;
  border-image: linear-gradient(314deg, #FFB520 63%, rgba(28, 40, 69, 0.7) 88%, #212D4A 80%);
  border-image-slice: 1;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px 0 12px;

  @media(min-width: $tablet-width) and (max-width: $desktop-width) {
    min-height: 250px;
  }

  &:before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  a {
    &:hover {
      color: #ffC130;
    }
  }
}

.contacts__item--phone {
  &:before {
    width: 50px;
    height: 50px;
    background-image: url(../img/svg/phones.svg);
    top: -18px;
    left: -3px;
  }
}

.contacts__item--mail {
  a {
    text-decoration: underline;
    margin-bottom: 17px;

  }

  &:before {
    width: 50px;
    height: 50px;
    background-image: url(../img/svg/mail.svg);
    top: -7px;
    left: 13px;
  }
}

.contacts__item--marker {
  a {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;

    @include desktop-width-min {
      font-size: 16px;
      line-height: 16px;
    }
  }

  p {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;

    @include desktop-width-min {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &:before {
    width: 47px;
    height: 55px;
    background-image: url(../img/svg/marker.svg);
    top: -15px;
    left: -8px;
  }
}

.contacts__wrap-form {
  background: #172340;
  margin-top: 63px;

  @include desktop-width-min {
    .form-order__wrapper {
      padding: 0;
    }
  }

  .form-group--textarea{
    margin-top: 20px;
  }

  .form-order__points {
    grid-template-columns: repeat(1, 1fr);

    @include desktop-width-min {
      max-width: 400px;
      margin: 0 auto;
    }
  }


  .service-slider__btn {
    padding: 10px 17px;
  }

  .form-order__inner-box {
    &--image-2 {
      &::before {
        background-image: url(../img/svg/pen.svg);
        width: 58px;
        height: 58px;
        background-repeat: no-repeat;
      }
    }
  }

  .contacts__forms {
    display: flex;
    gap: 30px;
    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      gap: 10px;
    }

    @include desktop-width-min {
      flex-direction: column;
    }
    @media(max-width: 767px) {
      flex-direction: column;
    }

  }

  .form-order {
    max-width: 520px;
    width: 100%;
    margin: 0;

    .form-order__inner-box {
      @media(max-width: 767px) {
        border: solid 2px transparent;
        border-image: linear-gradient(330deg, rgba(86,100,130,0.81) -7%, rgba(28,40,69,0.7) 95%, #172340 97%);
        border-image-slice: 1;
        padding: 13px;
      }
    }

    @media(min-width: $tablet-width) and (max-width: $desktop-width) {
      max-width: unset;
      width: 100%;
    }
    @media(max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

  }

  .form-order__data-box {
    display: block;
  }

  .form-order__data-box input {
    max-width: 400px;

    @media(max-width: 970px) {
      max-width: unset;
      width: 100%;
    }
  }

  .form-order__data-box textarea {
    max-width: 400px;
    min-height: 95px;
    @media(max-width: 970px) {
      max-width: unset;
      width: 100%;
      min-height: 100px;
    }
  }


  .form-order__wrap-box {
    padding: 30px 40px 40px 40px;
    background-image: linear-gradient(289.07deg, rgba(86, 100, 130, 0.81) -7.49%, #172340 95.19%);
    @media(max-width: 767px) {
      padding: 30px 15px 40px 15px;
    }
  }

  .form-order__box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-order__data-box {
    width: 100%;
  }

  .form-order__wrapper {
    @media(max-width: 767px) {
      margin: 0 auto;
    }
  }

  .form-order__data-box label {
    left: 10px;
    @media(max-width: 767px) {
      left: 10px;
      top: 5px;
      font-size: 14px;
    }
  }

  .service-slider__btn {
    margin: 30px 0 0 0;
  }

  .form-order__wrap-box h3 {
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.05em;

    @media(max-width: 767px) {
      white-space: nowrap;
      font-size: 20px;
      line-height: 26px;
    }
  }
}


.service-slider__btn {
  margin: 40px 0 40px 15px;
  max-width: 245px;
  border: 2px solid $yellow;
  padding: 10px 0;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  position: relative;
  transition: all 0.5s;

  @include tablet-width {
    max-width: 200px;
    font-size: 16px;
    line-height: 16px;
    margin: 20px 0 20px 15px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: $yellow;
    transition: all 0.5s;

    @include tablet-width {
      width: 25px;
      height: 25px;
    }
  }

  &::before {
    top: -13px;
    left: -13px;
    border-width: 2px 0 0 2px;
  }

  &::after {
    bottom: -13px;
    right: -13px;
    border-width: 0 2px 2px 0;
  }

  &:hover::before,
  &:hover::after {
    width: calc(100% + 26px);
    height: calc(100% + 26px);
    border-color: $yellow;
  }

  &:hover {
    text-decoration: none;
    color: $blue;
    background-color: $yellow;
  }
}

button {
  background: transparent;
  color: white;
  cursor: pointer;
}

textarea {
  resize: none;
  background: transparent;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1375) 105.92%);
  background-repeat: no-repeat;
  border: none;
  background-position: 0 calc(100% + 3px), 0 0;
  background-size: 100% 3px;
  border-bottom: 2px solid transparent;
  width: 100%;
  outline: none;
  color: white;
}


.form-order__data-box textarea:focus ~ label, .form-order__data-box textarea.not-empty ~ label, .form-order__data-box-2 textarea:focus ~ label, .form-order__data-box-2 textarea.not-empty ~ label {
  font-size: 15px;
  transform: translateY(-20px);
  transition: all 0.3s linear;
  color: rgba(255, 193, 48, 0.5);
}

.contacts__map {
  width: 80%;
  height: auto;

  @media(min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 100%;

  }

  @include desktop-width-min {
    height: 400px;
    width: 100%;
    margin-bottom: 60px;
  }

  @include tablet-width {
    height: 338px;
    margin-bottom: 30px;
  }
}


.ymap-container {
  background: url('../img/jpg/maps.jpg') #fff no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 85.4%;
  margin: 60px auto;

  @include desktop-width-min {
    margin: 0 auto 60px auto;
    height: 100%;
  }
}

#map-yandex {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 7;
}

/*Индикатор загрузки, который показывается до загрузки карты*/
.loader {
  color: #000;
  position: absolute;
  box-sizing: border-box;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 15;
  transition: opacity .7s ease;
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
}

.loader:after,
.loader:before {
  box-sizing: border-box;
}

.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: solid 8px #fff;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

.main-blog {
  background: url("../img/blog-bg.png") no-repeat top;
  background-size: cover;
}

.main-footer--blog {
  margin-top: 0;
}

.blog__sorting {
  br {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }

  p {
    font-size: 18px;
    line-height: 25px;

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  button {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    @media(max-width: 767px) {
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  .active {
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FFC130;
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 40px;
  gap: 30px 30px;
  @media(max-width: 1130px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
  }

  @media(max-width: 875px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }
  @media(max-width: 560px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }
  @media(max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px 10px;
  }
}

.blog__item {
  position: relative;
  overflow: hidden;
  display: block;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.33));
  @media(max-width: 560px) {
    max-width: unset;
  }

  &:hover {
    .blog__item-head {
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.1s linear;
    }

    .blog__item--overlay {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.5s linear;
    }

    @media(max-width: 1023px){
      .blog__item-head {
        transform: translateY(0);
        opacity: 1;
        transition: all 0.1s linear;
      }

      .blog__item--overlay {
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.5s linear;
      }
    }
  }

  a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

  }

  &-head {
    background: linear-gradient(253.67deg, rgba(23, 35, 64, 0.55) -3.35%, rgba(86, 100, 130, 0.9) 100.41%), linear-gradient(137.74deg, #6A7AA4 -7.86%, #2A375A 93.68%);
    padding: 15px 18px 14px 19px;
    margin-bottom: 5px;
    transition: all 0.1s linear;
    @media(max-width: 767px) {
      padding: 15px 12px 14px 14px;
    }

  }

  .blog__more {
    font-size: 16px;
    line-height: 22px;
    color: #FFC130;
    display: flex;
    align-items: center;
    gap: 7px;
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }

    img {
      width: 31px;
      height: 10px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .blog__data {
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .blog__item-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .blog__img {
    position: relative;
    height: 245px;

    img {
      top: 0;
      position: absolute;
      width: 100%;
      object-fit: cover;
      height: 278px;
      transition: all 0.3s linear;

    }
  }

  &:hover {
    .blog__item-desc {
      transition: all 0.2s linear;
    }

    .blog__img {
      img {
        top: -45%;
        height: 365px;
        transform: scale(1.001);
        transition: all 0.5s linear;
      }
    }

    @media (max-width: 1023px) {
      .blog__img {
        img {
          top: 0;
          height: 365px;
          transform: scale(1);
          transition: all 0.5s linear;
        }
      }
    }
  }

}

.blog__wrap-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.blog__item--overlay {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 23px;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 40, 69, 0.7);
  opacity: 0;
  transition: .6s;

  &-border {
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 4px;
    width: 97.5%;
    height: 98%;
    border: solid 1px transparent;
    border-image: linear-gradient(498deg, #FFB520 69%, rgba(28, 40, 69, 0) 94%, #212d4a00 80%);
    border-image-slice: 1;
  }
}

.pagination {
  margin-top: 42px;
  margin-bottom: 56px;
  display: flex;
  justify-content: center;

  &--active {
    color: #FFC130;
    border: 1px solid #FFC130;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 16px;
    line-height: 20px;

    &:not(:first-child):not(:last-child) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &--word {
    ul {
      gap: 148px;
      @media(max-width: 680px) {
        gap: 50px
      }
      @media(max-width: $tablet-width) {
        gap: 20px;
      }
    }
  }

  &__word {
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #FFB520;
      display: flex;
      align-items: center;

      @media(max-width: $tablet-width) {
        font-size: 14px;
      }

      img {
        width: 38px;
        height: 12px;
      }
    }

    &-next {
      position: relative;
      padding-right: 65px;

      @include tablet-width {
        padding-right: 0;

        img {
          margin-left: 10px;
        }
      }

      &::before {
        width: 50px;
        height: 15px;
        position: absolute;
        content: "";
        top: 6px;
        right: 5px;
        background-image: url("../img/svg/icon-arrow-left.svg");
        background-repeat: no-repeat;
        background-size: 90% 100%;
        background-position: right;
        transition: all 0.2s linear;
        transform: rotate(180deg);
        cursor: pointer;

        @include tablet-width {
          display: none;
        }
      }

      &:hover {
        &::before {
          background-size: 100% 100%;
        }
      }
    }

    &-prev {
      position: relative;
      padding-left: 65px;

      @include tablet-width {
        padding-left: 0;

        img {
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }

      &::before {
        width: 50px;
        height: 15px;
        position: absolute;
        content: "";
        top: 6px;
        left: 5px;
        background-image: url("../img/svg/icon-arrow-left.svg");
        background-repeat: no-repeat;
        background-size: 90% 100%;
        background-position: right;
        transition: all 0.2s linear;
        cursor: pointer;

        @include tablet-width {
          display: none;
        }
      }

      &:hover {
        &::before {
          background-size: 100% 100%;
        }
      }
    }
  }

}

.hide-desk {
  display: block;
  @media(max-width: $tablet-width) {
    display: none;
  }
}

.show-mobile {
  display: none;
  @media(max-width: $tablet-width) {
    display: block;
  }
}


.article {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    @media(max-width: $tablet-width) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .container-wrap {
    position: relative;
  }

  .data {
    right: 50px;
    bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    position: absolute;
    @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
      display: none;
    }
    @media(max-width: $tablet-width) {
      display: none;
    }
  }

  &__img-block {
    display: flex;
    margin-bottom: 36px;

    @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
      flex-direction: column;
      margin-bottom: 0;
    }
    @media(max-width: $tablet-width) {
      flex-direction: column;
      margin-bottom: 0;
    }


    img {
      max-width: 520px;
      width: 100%;
      min-height: 479px;
      object-fit: cover;
      @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
        max-width: unset;
        height: 479px;
        min-height: unset;
      }
      @media(max-width: $tablet-width) {
        max-width: unset;
        height: 201px;
        min-height: unset;
      }
    }
  }

  &__caption {
    padding: 52px 34px 52px 79px;
    background: linear-gradient(230deg, rgba(23, 35, 64, 0) 0%, #172340 100%), linear-gradient(270.05deg, #1A2643 -49.45%, rgba(26, 38, 67, 0) 99.93%), linear-gradient(278.37deg, rgba(96, 113, 157, 0.1) -10.02%, rgba(59, 73, 110, 0.725913) 51.08%, #2A375A 101.58%), rgba(255, 255, 255, 0.3);
    @media(min-width: $tablet-width) and (max-width: $desktop-width-min) {
      background: transparent;
      padding: 0;
    }
    @media(max-width: $tablet-width) {
      background: transparent;
      padding: 0;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      @media(max-width: $tablet-width) {
        font-size: 14px;
        line-height: 19px;
      }

    }
  }
}


.about {
  &__wrap {
    h2 {
      margin-top: 60px;

      &:nth-child(1) {
        display: none;
      }

      @media (max-width: 1120px) {
        margin-top: 30px;

        &:nth-child(1) {
          display: block;
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &__hero {
    position: relative;
    min-height: 439px;
    background-image: url('../img/jpg/abouthero.jpg');
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 1120px) {
      min-height: auto;
    }

    @media(max-width: 1390px) {
      background-position: -260px;
    }
    @media(max-width: 1200px) {
      background-position: -278px;
    }
    @media(max-width: 1120px) and (min-width: 767px) {
      background-image: url('../img/aboutherot.jpg');
      background-position: center;
      background-size: cover;


    }
    @media(max-width: 766px) {
      background-image: none;
      background-position: center;
      background-size: cover;
      min-height: 190px;
    }
  }

  &__caption {
    h2 {
      display: none;

      @media (max-width: 1120px) {
        display: block;
      }
    }

    p {
      font-size: 18px;
      line-height: 25px;

      @media(max-width: 766px) {
        font-size: 13px;
        line-height: 18px;
      }
    }

    p:first-child {
      display: inline-block;
      align-items: baseline;
      gap: 10px;
      color: #FFB520;
      margin: 0;
      max-width: 480px;

      @media (max-width: 1120px) {
        max-width: 100%;
      }

      span {
        display: inline-block;
      }
    }

    p:not(:first-child):not(:last-child) {
      color: #FFFFFF;
      max-width: 470px;
      margin-left: 38px;
      margin-bottom: 0;

      @media (max-width: 1120px) {
        max-width: 100%;
        margin-left: 0;
      }
    }

    p:last-child {
      font-family: $openSansBold;
      color: #FFB520;
      margin: 15px 0 0 85px;

      @media (max-width: 1120px) {
        margin-left: 0;
      }
    }

    img {
      width: 111px;
      height: 42px;
      margin-right: 5px;
      display: inline-block;

      @media(max-width: 766px) {
        width: 93px;
        height: 35px;
      }
    }

    &-wrap {
      padding-top: 74px;

      @media (max-width: 1120px) {
        padding-top: 0;
        padding-left: 20px;
      }

      @include tablet-width {
        padding-left: 0;
      }
    }
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 60px;
    gap: 20px;


    @media(max-width: 1024px) and (min-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0;
    }
    @media(max-width: 766px) {
      grid-template-columns: repeat(2, auto);
      padding-left: 0;
      margin-bottom: 20px;
      grid-gap: 15px 2%;
      justify-content: center;
    }
    @media(max-width: 520px) {
      grid-template-columns: repeat(1, auto);
      justify-content: left;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media(max-width: 1024px) and (min-width: 767px) {
        align-items: center;
      }

      @media(max-width: 766px) {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      &:nth-child(2) {
        p {
          margin-bottom: -75px;

          @media(max-width: 766px) {
            margin: 0;
          }
        }
      }

      p {
        margin-bottom: -43px;
        max-width: 260px;
        @media(max-width: 766px) {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }

    p {
      font-size: 20px;
      line-height: 27px;
      color: #FFFFFF;
      @media(max-width: 766px) {
        max-width: unset;
        width: auto;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
    }

    span {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFC130;
      display: block;

      @media(max-width: 766px) {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1em;
      }

    }

    img {
      width: 190px;
      height: 190px;
      @media(max-width: 766px) {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
    }
  }

  &__content-wrap {
    max-width: 710px;

    @media(max-width: 1024px) and (min-width: 767px) {
      max-width: unset;
      background: #1F2C4B;
      padding: 40px 0;
    }
    @media(max-width: 766px) {
      max-width: unset;
      background: #1F2C4B;
      padding-bottom: 40px;
      padding-top: 40px;
    }

    .show-more {
      border: none;
      outline: none;
      background: transparent;
      font-size: 18px;
      line-height: 25px;
      text-decoration-line: underline;
      color: rgba(255, 255, 255, 0.7);
      padding: 0;
      margin-bottom: 15px;
      transition: all 0.2s linear;

      @include tablet-width {
        font-size: 14px;
        line-height: 16px;
      }

      &:hover {
        color: rgba(255, 255, 255, 1);
        transition: all 0.2s linear;

      }
    }

    .active {
      color: $yellow;

      &:hover {
        color: $yellow;
      }
    }

    p {
      font-size: 18px;
      line-height: 25px;
      margin: 0 0 20px 0;

      @include tablet-width {
        font-size: 14px;
        line-height: 19px;
      }
    }

    strong {
      font-family: $openSansBold;
      font-size: 18px;
      line-height: 25px;
      color: #FFC130;

      @include tablet-width {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  &__content {
    background-size: 110%;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 655px;
    display: flex;
    align-items: center;

    .container {
      width: 100%;
    }

    @media(max-width: 1024px) and (min-width: 767px) {
      background-position: 89% 0px;
      background-size: cover;
    }

    @media(max-width: 766px) {
      min-height: 252px;
      display: none;
    }
  }
}

.about__documents {
  p {
    margin-bottom: 10px;
  }
}

.download {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .2s;
  color: $yellow;

  @include tablet-width {
    font-size: 14px;
    line-height: 16px;
  }

  img {
    width: 19px;
    height: 17px;
  }
}

.requisites {
  margin-bottom: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    opacity: 0.7;
  }
}

.hide-d {
  display: none;
  @media(max-width: 1024px) and (min-width: 767px) {
    display: block;
  }
  @media(max-width: 766px) {
    display: block;
  }
}

.hide-m-t {
  padding-top: 10px;
  display: block;
  @media(max-width: 1024px) and (min-width: 767px) {
    display: none;
  }
  @media(max-width: 766px) {
    display: none;
  }
}

.delivery {
  @include desktop-width-min {
    h2 {
      margin-bottom: 20px;
    }
  }

  .form-order__data-box-2 {
    label {
      img {
        max-width: 27px;
        max-height: 27px;
      }
    }
  }

  .form-order__box--delivery {
    @include desktop-width-min {
      max-width: 615px;
      margin: 0 auto;
    }

    @include tablet-width {
      max-width: 420px;
    }

    .button {
      margin: 40px auto 0 auto;

      &:hover {
        &::after,
        &::before {
          width: calc(100% + 26px);
          height: calc(100% + 26px);
        }
      }
    }
  }

  &__delivery-caption {
    margin-top: 196px;
    margin-bottom: 60px;

    @include desktop-width-min {
      margin-top: 0;
      margin-bottom: 40px;
    }
    @media(max-width: 767px) {
      margin-top: 20px;
    }


    h3 {
      position: relative;
      font-family: $openSansBold;
      font-size: 26px;
      line-height: 36px;
      color: #FFC130;
      text-align: center;
      padding-bottom: 20px;
      margin-bottom: 40px;

      @include tablet-width {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 20px;
      }

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, rgba(255, 193, 48, 0) 0%, rgba(255, 193, 48, 0.62) 24.96%, #FFC130 52.52%, rgba(255, 193, 48, 0.71) 73.84%, rgba(255, 193, 48, 0) 99.84%);
        bottom: 0;
        left: 0;
      }
    }

    ul {
      list-style: decimal;
      @media(max-width: 1024px) {
        padding-left: 23px;
      }
    }

    li {
      max-width: 926px;
      margin: 0 auto;
    }

    li::marker {
      color: #FFC130;
      font-family: $openSansBold;
      font-size: 18px;
      line-height: 25px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      margin-left: 10px;
      color: rgba(255, 255, 255, 0.9);

      @include tablet-width {
        font-size: 14px;
        line-height: 19px;
      }

      strong {
        font-weight: $normal;
      }
    }

    strong {
      color: #FFC130;
    }

    &--margin {
      margin-top: 0;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    @media(max-width:767px){
    text-align: center;
    margin: 0 auto;
    }
  }

  &__wrap {
    .delivery__text + .button {
      display: none;

      @include desktop-width-min {
        display: block;
        margin: 40px auto;
      }

      &:hover {
        &::before,
        &::after {
          width: calc(100% + 26px);
          height: calc(100% + 26px);
        }
      }
    }
  }

  &__text {
    margin-bottom: 40px;

    @include desktop-width {
      margin-bottom: 60px;
    }

    @include desktop-width-min {
      margin-bottom: 30px;
    }

    h3 {
      line-height: 35px;
      margin-bottom: 30px;

      @include tablet-width {
        font-size: 18px;
        line-height: 22px;
      }
    }

    span {
      color: $yellow;
      font-family: $openSansRegular;
      font-size: 14px;
      line-height: 19px;
    }

    p {
      margin: 0;
      font-family: $openSansBold;
      line-height: 22px;

      span {
        font-family: $openSansBold;
        color: $yellow;
        font-size: 18px;
        line-height: 28px;
      }

      &:last-child {
        font-family: $openSansRegular;
        color: rgba(255, 255, 255, 0.7);
        margin-right: 53%;

        @include desktop-width {
          margin-right: 4%;
        }

        @include desktop-width-min {
          margin-right: 0;
        }
      }
    }
  }

  &__caption {
    font-family: $openSansBold;
    font-size: 26px;
    line-height: 36px;
    max-width: 650px;

    @media(max-width: 1400px) and (min-width: 1023px) {
      margin-bottom: 120px;
    }

    @media(max-width: 1023px) {
      max-width: unset;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 40px;
    }

    @include tablet-width {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__ordering {
    min-height: unset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    @media(max-width: 767px) {
      background-position: 31%;
    }

    .form-order {
      margin-top: -94px;
      margin-bottom: -94px;

      @include desktop-width {
        margin-top: -75px;
      }
    }

    .form-order__data-box {
      gap: 0;
      grid-template-columns: 100% auto;
    }

    .form-order__wrapper {
      margin: 0;
      padding: 0 22px;
      background: #172340;
      height: 100%;
      @media(max-width: 1320px) and (min-width: 1024px) {
        padding: 10px;
      }
    }

    .form-order__wrap-box {
      height: 100%;

      @media(max-width: 1320px) and (min-width: 1024px) {
        padding: 25px;
      }
      @media(max-width: 767px) {
        padding: 30px 10px;
      }
    }

    &-wrap {
      min-height: 1130px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include desktop-width-min {
        min-height: auto;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      max-width: 589px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      @media (max-width: 1024px) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 76px;
        margin-bottom: 76px;
      }

      @include tablet-width {
        margin-top: 52px;
        margin-bottom: 52px;
        gap: 15px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 20px;
        @media(max-width: 767px) {
          flex-direction: column;
          align-items: end;
        }

        img {
          width: 100px;
          height: 100px;

          @media(max-width: 767px) {
            margin: 0 auto;
            margin-bottom: -20px;
          }
        }

        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.03em;
          color: #FFC130;
          text-transform: uppercase;

          @include tablet-width {
            font-size: 14px;
            line-height: 19px;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          color: #FFFFFF;
          margin: 0;

          @include tablet-width {
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
}


.form-order__data-box--com .form-group {
  label {
    position: absolute;
    top: 0;
    left: 10px;
    transition: all 0.3s linear;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 25px;
    cursor: text;

    @include tablet-width {
      font-size: 14px;
      line-height: 19px;
    }
  }

  input {
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
    padding: 0 0 5px 0;
    outline: none;
    border: 0;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1375) 105.92%);
    background-repeat: no-repeat;
    background-position: 0 calc(100% + 3px), 0 0;
    background-size: 100% 3px;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: $white;

    @include tablet-width {
      font-size: 14px;
      line-height: 19px;
      max-width: 100%;
    }

    &:required {
      ~ label {
        &::after {
          position: absolute;
          content: "*";
          top: 0;
          right: -8px;
        }
      }
    }

    &:focus {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.1375) 105.92%);
    }

    &:focus,
    &.not-empty {
      ~ label {
        font-size: 14px;
        transform: translateY(-20px);
        transition: all 0.3s linear;
        color: rgba(255, 193, 48, 0.5);
      }
    }
  }
}

.form-group {
  position: relative;
}

.form-order__data-wrap {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 15px;
}


.form-order__data-box-2 {
  label {
    cursor: pointer;
  }

  input:focus ~ label {
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    transform: translateY(0);
  }


  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 42px;
  }
}


.form-order__file-wrap {
  margin-top: 20px;

  .form-group {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      width: 50px;
      height: 35px;

      @include tablet-width {
        width: 120px;
        height: 35px;
      }
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
  }

  label {
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFB520;
    cursor: pointer;
  }

  p {
  }

}

.form-order__data-box--com {
  margin-top: 20px;

  input {
    max-width: 100%;
  }
}

.form-order__radio {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  margin-bottom: 30px;

  @include mobile-width {
    grid-template-columns: 1fr;
    margin-bottom: 35px;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    @include tablet-width {
      padding-left: 20px;
      font-size: 14px;
      line-height: 25px;
    }
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #696F82;
    border-radius: 100%;
    background: rgba(23, 35, 64, 0.1);
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: linear-gradient(114.87deg, #FF9B00 19.51%, #FFC738 75.38%);
    position: absolute;
    top: 7px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  [type="radio"]:checked + label:before {
    border: 1px solid rgba(255, 199, 56, 0.35);
  }
}

button {
  outline: none;
}

textarea {
  padding: 12px 20px;
  border-radius: 2px;
  min-height: 100px;
  color: #FFFFFF;
  border: solid 1px transparent;
  border-image: linear-gradient(47deg, #ffffff 23%, rgba(28, 40, 69, 0.7) 108%, #212d4a00 80%);
  border-image-slice: 1;
  background: linear-gradient(248deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.25) 105.92%);

  &:focus {
    border: solid 1px transparent;
    border-image: linear-gradient(47deg, #FFB520 23%, rgba(28, 40, 69, 0.7) 108%, #212d4a00 80%);
    border-image-slice: 1;
  }
}

input:focus {
  background-image: linear-gradient(90deg, #FFB520 0%, rgba(255, 255, 255, 0.1375) 105.92%);
}

.form-group--text {
  margin-bottom: 30px;
}

.form-group textarea:focus ~ label {
  transition: all 0.3s linear;
}

.form-group--text label {

  position: absolute;
  top: 12px;
  left: 20px;
  cursor: text;
  transition: all 0.3s linear;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 25px;

  @media(max-width: 767px) {
    left: 10px;
    font-size: 13px;
    line-height: 15px;
  }
}

.form-group textarea:focus ~ label, .form-group textarea.not-empty ~ label {
  font-size: 14px;
  transform: translateY(-40px);
  transition: all 0.3s linear;
  color: rgba(255, 193, 48, 0.5);
  @media(max-width: 767px) {
    font-size: 12px;
    transform: translateY(-40px);
  }

  @include mobile-width {
    transform: translateY(-45px);
  }
}

.file-res {
  display: none;
  align-items: center;
  gap: 10px;

  span {
    font-size: 14px;
    line-height: 20px;
    color: #FFB520;
    padding-left: 42px;
  }
}

.reset-file {
  img {
    width: 10px;
    height: 10px;
  }
}

.social-ch {
  p {
    margin: 30px 0 20px 0;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
  }

  ul {
    padding-left: 0;
  }

  label {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;

    &:before {
      top: 0;
    }
  }
}

.form-order__delivery {
  .form-order__inner-box {
    padding: 16px;
    height: 100%;
    @media(max-width: 1320px) and (min-width: 1024px) {
      padding: 10px;
    }

    &--image-2 {
      &::before {
        background-image: url(../img/svg/pen.svg);
        background-repeat: no-repeat;
        width: 58px;
        height: 58px;

        @include tablet-width {
          width: 40px;
          height: 40px;
          background-size: 40px 40px;
        }
      }
    }
  }
}

.delivery__ordering-wrap {
  @include desktop-width-min {
    grid-template-columns: repeat(1, auto);
  }

  @include tablet-width {
    grid-template-columns: repeat(1, auto);
    grid-gap: 0;
  }
}

.form-order__box--delivery .service-slider__btn {
  @media (max-width: 767px) {
    margin-top: 40px;
    max-width: 190px;
  }
}

.about__slider {
  position: relative;
  margin-bottom: 60px;

  h2 {
    font-size: 26px;
    line-height: 36px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.about__banners {
  padding: 0;

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    background: #FFFFFF;

    img {
      height: auto;
    }
  }
}

.about__slider-title {
  position: relative;
  display: flex;
  align-items: center;

  h2 {
    width: 100%;

    @media(max-width: 767px) {
      margin-top: 40px;
    }
  }

  .about__slider-arrow {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 45%;
    right: 0;

    @include tablet-width {
      top: 37%;
    }

    @media (max-width: 480px) {
      top: auto;
      right: 50%;
      transform: translateX(50%);
      bottom: -100%;
    }

    @media (max-width: 430px) {
      bottom: -90%;
    }

    @media (max-width: 370px) {
      bottom: -80%;
    }

    .swiper-button-next {
      width: 65px;
      height: 15px;
      top: 95%;
      right: 0;
      outline: none;

      &::after {
        width: 100%;
        height: 15px;
        font-size: 0;
        background-image: url("../img/svg/icon-arrow-right.svg");
        background-repeat: no-repeat;
        background-size: 90% 100%;
        transition: all 0.2s linear;
      }

      &:hover {
        &::after {
          background-size: 100% 100%;
          transition: all 0.2s linear;
        }
      }
    }

    .swiper-button-prev {
      width: 65px;
      height: 15px;
      top: 95%;
      left: 0;
      outline: none;

      &::after {
        width: 100%;
        height: 15px;
        background-image: url("../img/svg/icon-arrow-left.svg");
        background-repeat: no-repeat;
        background-size: 90% 100%;
        background-position: right;
        font-size: 0;
        transition: all 0.2s linear;
      }

      &:hover {
        &::after {
          background-size: 100% 100%;
          transition: all 0.2s linear;
        }
      }
    }
  }
}

.main-delivery {
  .form-order__data-box-2 ul {
    margin-top: 30px;
    grid-gap: 30px;
    grid-template-columns: repeat(2, auto);

    @include mobile-width {
      grid-template-columns: 1fr;
    }
  }
}

.form-group-gap {
  @include tablet-width {
    margin: 40px 0;
  }
}

.form-order__where:last-child {
  @include tablet-width {
    margin-top: 40px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill, {
  border: 0;
  font-size: 18px;
  line-height: 21px;
  background-image: linear-gradient(90deg, rgba(255,255,255,0.55) 0%, rgba(255,255,255,0.1375) 105.92%);
  background-repeat: no-repeat;
  background-position: 0 calc(100% + 3px), 0 0;
  background-size: 100% 3px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

#delivery {
  display: none;

  @include desktop-width-min {
    display: inline-block;
    min-height: 70px;
  }
}
