mixin activity()
  section.activity
    section.activity__wrapper
      .activity__box
        .activity__box-text
          p
            strong Наша компания занимается экспресс-доставкой грузов из Минскав Москву и из Москвы в Минск. Возможна доставка от адреса к адресу.
          p Мы перевозим ваши посылки на новых быстрых и надежных микроавтобусах, поэтому доставка  приходит всегда точно в указанный срок.  В течение 12 часов посылка гарантированно прибудет в указанное место.  Услуга закрепляется заключением официального договора
          p
            strong Возможна доставка в другие города России! Время доставки от 24 часов.
