mixin activity()
  section.activity
    .activity__wrapper
      +img('jpg', 'img-bckg', 'jpg', '1920', '1050', 'Mexp')
      section.activity__box(data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-sine")
        .activity__box-text
          p
            strong Наша компания занимается экспресс-доставкой грузов из Минска в Москву и из Москвы в Минск. Возможна доставка от адреса к адресу.
          p Мы перевозим ваши посылки на новых быстрых и надежных микроавтобусах, поэтому доставка  приходит всегда точно в указанный срок.  В течение 12 часов посылка гарантированно прибудет в указанное место.  Услуга закрепляется заключением официального договора
          p
            strong Возможна доставка в другие города России! Время доставки от 24 часов.
      section.questions
        .questions__wrapper.container
          h2 Часто задаваемые вопросы
          .questions__box
            .questions__box-left
              ul
                li
                  p Как правильно упаковать посылку?
                li
                  p Запросить бухгалтерские документы
                li
                  p Заключить договор
                li
                  p Как оплатить услугу доставки?
                li
                  p Образцы документов
            .questions__box-right
              article.questions__text-active
                p Мы не занимаемся упаковкой отправлений. Вы должны самостоятельно упаковать свою посылку.  Упаковка должна быть:
                ul
                  li
                    p - без повреждений и загрязнений;
                  li
                    p - сухой и не протекает;
                  li
                    p - соответствующей весу отправления;
                  li
                    p - без старых этикеток от предыдущих отправлений;
                  li
                    p - тщательно запечатанной;
                  li
                    p - с правильной маркировкой.
                p Если это международное отправление, то посылка должна быть упакована на глазах у курьера.
              article
                p
                  strong ИП и Юридическим лицам
                  | После осуществления перевозки будет предоставлен акт выполненных работ, протокол согласования тарифов на услуги и при необходимости счет. Документы будут оправлены по почте.
                p
                  strong Частным лицам
                  | Обычно акты выполненных работ нужны только ИП и Юридическим лицам, поэтому мы не выдаем их частным лицам.
                p Если вам нужен акт выполненных работ, запросите его у своего менеджера  Мы вышлем нужный акт по почте на ваш адрес.
              article
                p Подписание договора не является обязательным для заказа грузоперевозок. Действие договоров оканчивается 31 декабря, после чего можно заключить договор на следующий год. Для заключения договора свяжитесь с нашим менеджером.
      section.questions-mobile
        .questions-mobile__wrapper.container
          .questions-mobile__box
            p Как правильно упаковать посылку?
          .questions-mobile__text
            p Как правильно упаковать посылку?
          .questions-mobile__box
            p Как правильно упаковать посылку?
          .questions-mobile__text
            p Как правильно упаковать посылку?
          .questions-mobile__box
            p Как правильно упаковать посылку?
          .questions-mobile__text
            p Как правильно упаковать посылку?
