mixin form-order()

  section.form-order
    .form-order__wrapper.container
      .form-order__inner-box.form-order__inner-box--image-1
        .form-order__wrap-box
          form#form-order__calc.form-order__box
            .form-order__box-1.form-order__active
              h3 Рассчитать и заказать доставку
              .form-order__data-box
                .form-order__points-box
                  .form-order__points
                    .form-order__point-1
                      input(id="point-1" type="text" name="city_1")
                      label(for="point-1") Откуда
                      span.error
                    button.button-revers(type="button")
                      span.visually-hidden Изменить маршрут
                    .form-order__point-2
                      input(id="point-2" type="text" name="city_2")
                      label(for="point-2") Куда
                      span.error
                  .form-order__points-2
                    .form-order__weight
                      input(id="weight" type="number" min="1" max="4000")
                      label(for="weight") Вес, кг
                      span.error
                    .form-order__volume
                      input(id="volume" type="number" min="1" max="10")
                      label(for="volume") Объем, м
                        sup 3
                      span.error
                .form-order__point-3
                  input.datepicker-here(id="point-3" type="text")
                  label(for="point-3") Доставка
              .form-order__data-box-2
                ul
                  li
                    input.visually-hidden(id="check-1" type="radio"  name="face" checked)
                    label(for="check-1") Груз упакован
                  li
                    input.visually-hidden(id="check-2" type="radio" name="face")
                    label(for="check-2") Груз не упакован
                  li
                    input.visually-hidden(id="check-3" type="radio" name="1" checked)
                    label(for="check-3") Можно кантовать
                  li
                    input.visually-hidden(id="check-4" type="radio" name="1")
                    label(for="check-4") Хрупкий груз
              a.button.button--effect-1.btn-calc(href="#")
                span Рассчитать
            .form-order__box-2
              h3 Стоимость вашей доставки будет составлять
                input.form-order__price.visually-hidden(type="number" id="price")
                span.form-order__price-2(for="price") 0
                span $
              p Оставьте свои контактные данные для оформления заявки
              .form-order__data-box.form-order__data-box--calc
                .form-group__box
                  .form-order__point-4
                    input(id="user-phone" type="text")
                    label(for="user-phone") Телефон*
                    span.error
                  .form-order__point-5
                    input(id="user-email" type="text")
                    label(for="user-email") E-mail
                  p Выберите удобный способ связи
                  .form-order__data-box-2
                    ul
                      li
                        input.visually-hidden(id="viber" type="checkbox" checked)
                        label(for="viber")
                          +img('svg', 'icon-viber', 'svg', '30', '30', 'Viber')
                          | Viber
                      li
                        input.visually-hidden(id="telegram" type="checkbox")
                        label(for="telegram")
                          +img('svg', 'icon-telegram', 'svg', '30', '30', 'Viber')
                          | Telegram
                      li
                        input.visually-hidden(id="whatsapp" type="checkbox" checked)
                        label(for="whatsapp")
                          +img('svg', 'icon-whatsapp', 'svg', '30', '30', 'Viber')
                          | Whatsapp
                      li
                        input.visually-hidden(id="skype" type="checkbox")
                        label(for="skype")
                          +img('svg', 'icon-skype', 'svg', '30', '30', 'Viber')
                          | Skype
                .form-group__box
                  .form-order__point-6
                    input(id="user-company" type="text")
                    label(for="user-company") Имя/ компания*
                  .form-order__point-box
                    .form-order__point-7
                      input.visually-hidden(id="radio-1" type="radio" name="user-1" checked)
                      label(for="radio-1") Физ. лицо
                    .form-order__point-8
                      input.visually-hidden(id="radio-2" type="radio" name="user-1")
                      label(for="radio-2") Юр. лицо
                    .form-order__point-9
                      input.visually-hidden(id="radio-3" type="radio" name="user-1")
                      label(for="radio-3") ИП
                  .form-order__textarea
                    textarea(id="user-text")
                    label(for="user-text") Для юр. лиц и ИП введите реквизиты
              button(type="submit").button.button--effect-1
                span Заказать
