mixin service-slider()
  section.service-slider
    .service-slider__wrapper.swiper-container
      ul.service-slider__list.swiper-wrapper
        li.swiper-slide
          .service-slider__text
            p Экспресс-доставка грузов
              strong  за 12 часов
            h2 Минск
              +img('svg', 'icon-path', 'svg', '60', '30', 'Маршрут')
              | Москва
            p У нас предусмотрены услуги доставки на все случаи жизни – от срочных небольших посылок  до тяжеловесных грузов. Благодаря новому и надежному транпорту, доставка всегда осуществляется в экспресс-режиме и приходит  точно в срок!
            p Возможна доставка в другие города России в течение 24 часов!
            a.button.button--effect-2(href="#") Оформить доставку
          .service-slider__image
            +img('jpg', 'image-slide-4', 'jpg', '770', '600', 'Первый слайд')
        li.swiper-slide
          .service-slider__text
            ul
              li
                +img('svg', 'icon-clock', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p Быстрая доставка
                  strong за 12 часов
              li
                +img('svg', 'icon-shild', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p
                  strong CMR-Страхование
                  | гарантирует сохранность груза
              li
                +img('svg', 'icon-money', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p За доставку
                  strong ОТ 60 y.e.
              li
                +img('svg', 'icon-contract', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p Заключение
                  strong Договора на услуги
            a.button.button--effect-2(href="#") Оформить доставку
          .service-slider__image
            +img('jpg', 'image-slide-5', 'jpg', '770', '600', 'Второй слайд')
        li.swiper-slide
          .service-slider__text
            ul
              li
                +img('svg', 'icon-clock', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p Быстрая доставка
                  strong за 12 часов
              li
                +img('svg', 'icon-shild', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p
                  strong CMR-Страхование
                  | гарантирует сохранность груза
              li
                +img('svg', 'icon-money', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p За доставку
                  strong ОТ 60 y.e.
              li
                +img('svg', 'icon-contract', 'svg', '70', '70', 'Быстрая доставка за 12 часов')
                p Заключение
                  strong Договора на услуги
            a.button.button--effect-2(href="#") Оформить доставку
          .service-slider__image
            +img('jpg', 'image-slide-6', 'jpg', '770', '600', 'Третий слайд')
      .service-slider__controls
        .swiper-button-next
        .swiper-button-prev
