mixin services()

  section.services
    .services__wrapper.container
      h2 Услуги
      ul
        li(data-aos="fade-down" data-aos-easing="linear")
          a(href="#")
            article
              +img('svg', 'icon-route', 'svg', '230', '200', 'Экспресс доставка Москва - Минск - Москва')
              p Экспресс доставка Москва - Минск - Москва
        li(data-aos="fade-down" data-aos-easing="linear")
          a(href="#")
            article
              +img('svg', 'icon-maps', 'svg', '230', '200', 'Доставка по всей России')
              p Доставка по всей России
        li(data-aos="fade-down" data-aos-easing="linear")
          a(href="#")
            article
              +img('svg', 'icon-plane', 'svg', '230', '200', 'Доставка из аэропортов Москвы')
              p Доставка из аэропортов Москвы
        li(data-aos="fade-down" data-aos-easing="linear")
          a(href="#")
            article
              +img('svg', 'icon-ikea', 'svg', '230', '200', 'Доставка из IKEA')
              p Доставка из IKEA
