mixin social()

  -
    var social = [
      {
        path: 'svg',
        image: 'icon-viber',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Вайбер',
      },
      {
        path: 'svg',
        image: 'icon-telegram',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Телеграм',
      },
      {
        path: 'svg',
        image: 'icon-whatsapp',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Ватсап',
      },
      {
        path: 'svg',
        image: 'icon-skype',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Скайп',
      },
    ];

  ul.social
    each item in social
      li
        a(href="#")
          span.visually-hidden= item.text
          +img(item.path, item.image, item.format, item.width, item.height, item.text)
