mixin socials()

  -
    var socials = [
      {
        path: 'svg',
        image: 'icon-vk',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Вконтакте'
      },
      {
        path: 'svg',
        image: 'icon-in',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Инстаграм'
      },
      {
        path: 'svg',
        image: 'icon-youtube',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Ютьюб'
      },
      {
        path: 'svg',
        image: 'icon-ok',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Одноклассники'
      },
      {
        path: 'svg',
        image: 'icon-fb',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Фэйсбук'
      },
      {
        path: 'svg',
        image: 'icon-linked',
        format: 'svg',
        width: '35',
        height: '35',
        text: 'Линкедин'
      },
    ];

  ul.socials
    each item in socials
      li
        a(href="#")
          span.visually-hidden= item.text
          +img(item.path, item.image, item.format, item.width, item.height, item.text)
