mixin timetable()

  section.timetable
    .timetable__wrapper.container
      h3 График движения автотранспорта
      .timetable__inner
        .timetable__box
          .timetable__text
            p Минск - Москва
            p Москва - Минск
          table
            tr
              td День недели:
              td Пн:
              td Вт:
              td Ср:
              td Чт:
              td Пт:
              td Сб:
              td Вс:
            tr
              td Отправление из Минска
              td 18:00
              td 18:00
              td 18:00
              td 18:00
              td -
              td -
              td 16:00
            tr
              td Прибытие в Москву
              td 6:00
              td 6:00
              td 6:00
              td 6:00
              td 6:00
              td -
              td -
          table
            tr
              td День недели:
              td Пн:
              td Вт:
              td Ср:
              td Чт:
              td Пт:
              td Сб:
              td Вс:
            tr
              td Отправление из Москвы
              td 21:00
              td 21:00
              td 21:00
              td 21:00
              td 21:00
              td -
              td -
            tr
              td Прибытие в Минск
              td -
              td 9:00
              td 9:00
              td 9:00
              td 9:00
              td 9:00
              td -
        p В Пн - Пт с
          span  6:00
          |  до
          span  21:00
          |  мы находимся в  Москве и готовы принять ваш груз для транспортировки в Минск.

      .timetable__inner-mobile
        .timetable__text-2
          p Минск - Москва
          p Москва - Минск
        table
          tr
            td
            td Отправление из Минска
            td Прибытие в Москву
          tr
            td Пн:
            td 18:00
            td 6:00
          tr
            td Вт:
            td 18:00
            td 6:00
          tr
            td Ср:
            td 18:00
            td 6:00
          tr
            td Чт:
            td 18:00
            td 6:00
          tr
            td Пт:
            td -
            td 6:00
          tr
            td Сб:
            td -
            td -
          tr
            td Вс:
            td 16:00
            td -
        table
          tr
            td
            td Отправление из Москвы
            td Прибытие в Минск
          tr
            td Пн:
            td 21:00
            td -
          tr
            td Вт:
            td 21:00
            td 9:00
          tr
            td Ср:
            td 21:00
            td 9:00
          tr
            td Чт:
            td 21:00
            td 9:00
          tr
            td Пт:
            td 21:00
            td 9:00
          tr
            td Сб:
            td -
            td 9:00
          tr
            td Вс:
            td -
            td -
        p В Пн - Пт с
          span  6:00
          |  до
          span  21:00
          |  мы находимся в  Москве и готовы принять ваш груз для транспортировки в Минск.
